---
import BentoItem from "./BentoItem.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---
<section
    class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[35rem] gap-4 mx-auto p-20"
>
    <BentoItem class="col-span-10 md:col-span-6" title={i18n.BENTO_1_TITLE}>
        <div 
            slot="image" 
            class="
            absolute left-0 top-0 bottom-0 w-full h-full
            group-hover:scale-110 duration-1000 ease-in-out opacity-90 
            bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/mountain.webp')"
            />
        <p set:html={i18n.BENTO_1_CONTENT} slot="content" class="z-20 text-base md:text-lg" />
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_2_TITLE} subtitle={i18n.BENTO_2_SUBTITLE}>
        <div 
            slot="image" 
            class="
            absolute left-0 top-0 bottom-0 w-full h-full
            group-hover:scale-110 duration-1000 ease-in-out opacity-90 
            bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/pistas.png')"
            />
            <p set:html={i18n.BENTO_2_CONTENT} slot="content" class="z-20 text-base md:text-lg" />
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-4" title={i18n.BENTO_3_TITLE} subtitle={i18n.BENTO_3_SUBTITLE}>
        <div
            slot="image"
            class="
            absolute left-0 top-0 bottom-0 w-full h-full
            group-hover:scale-110 duration-1000 ease-in-out opacity-90
            bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/grefposing.png')"
            />
            <p set:html={i18n.BENTO_3_CONTENT} slot="content" class="z-20 text-base md:text-lg" />
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-6" title={i18n.BENTO_4_TITLE}>
        <div
            slot="image"
            class="
            absolute left-0 top-0 bottom-0 w-full h-full
            group-hover:scale-110 duration-1000 ease-in-out opacity-90
            bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/laptop_esland.png')"
            />
            <p set:html={i18n.BENTO_4_CONTENT} slot="content" class="z-20 text-base md:text-lg" />
</section>