---
import Logo from "./Logo.astro"
import LanguageSelector from "./LanguageSelector.astro"

const { currentLocale, url } = Astro

let href:string;
if (currentLocale === 'es')  href = url.origin
else href = `${url.origin}/${currentLocale}`
---
<header id="header-nav" class="h-16 w-full max-w-7xl top-0 fixed md:px-6 py-2 z-50 mx-auto">
    <div class="justify-between items-center flex">
    <div class="w-60 z-[100]">
        <a href="/" class="">
            <Logo class="md:w-32 w-20" />
        </a>
    </div>
    <nav class="w-full hidden md:flex md:justify-center items-center gap-x-10 font-semibold py-1">
        <a href="" class="lg:text-base text-sm hover:cursor-pointer text_header_footer">VOTÁ</a>
        <a href=`${href}/info` class="lg:text-base text-sm hover:cursor-pointer text_header_footer">INFO</a>
        <a href=`${href}/archivo` class="lg:text-base text-sm hover:cursor-pointer text_header_footer">ARCHIVO</a>
        <LanguageSelector />
    </nav>
    <div class="w-60 hidden md:flex justify-center items-center whitespace-nowrap px-6 py-1 border rounded-[25px] font-semibold">
        <a href="https://www.youtube.com/watch?v=O43x26hiolw" class="lg:text-base text-sm text_header_footer">
            ESLAND: EL DOCUMENTAL
        </a>
    </div>
    <div class="md:hidden px-6 py-2 flex items-center z-[100]">
        <button id="menu-hamburger" class="hover:cursor-pointer">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
    </div>
    </div>
    <div id="menu-mobile" class="-translate-y-full transition-transform duration-300 h-screen w-full md:hidden bg-[#151a36]/90 fixed top-0 left-0 right-0 z-[90]">
        <nav id="menu-mobile-nav" class="h-5/6 flex flex-col justify-center items-center gap-y-10">
            <a class="text-xl text_header_footer hover:cursor-pointer">VOTÁ</a>
            <a href=`${href}/info` class="text-xl text_header_footer hover:cursor-pointer">INFO</a>
            <a href=`${href}/archivo` class="text-xl text_header_footer hover:cursor-pointer">ARCHIVO</a>
            <LanguageSelector />
            <div class="flex justify-center items-center whitespace-nowrap border rounded-[25px] px-6 py-2">
                <a href="https://www.youtube.com/watch?v=O43x26hiolw" class="text-xl text_header_footer w-fit">
                    ESLAND: EL DOCUMENTAL
                </a>
            </div>
        </nav>
        <div id="social" class="p-6 justify-center items-center gap-8 flex">
            <!-- iconos redes sociales -->
            <a href="" class="">
                <img src="i-instagram.png" alt="Logo Instagram" class="w-10 h-10">
            </a>
            <a href="" class="">
                <img src="i-twitter.png" alt="Logo Twitter" class="w-10 h-10">
            </a>
            <a href="" class="">
                <img src="i-reddit.png" alt="Logo Reddit" class="w-10 h-10">
            </a>
        </div>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menu_hamburger = document.getElementById('menu-hamburger')
        const menu_mobile = document.getElementById('menu-mobile')

        menu_hamburger?.addEventListener('click', function() {
            menu_mobile?.classList.toggle('translate-y-0')
            document.body.classList.toggle('overflow-hidden')
        })
})
</script>